@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background: linear-gradient(
        to right,
        #7A67FF,
        #FAFAFA,
        #7A67FF,
        #FAFAFA,
        #7A67FF,
        #FAFAFA,
        #7A67FF
    );
    background-clip: text;
    background-size: 300% 300%;
}

html {
  scroll-behavior: smooth;
}

cover {
  background-size: cover;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}