@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background: linear-gradient(
        to right,
        #7A67FF,
        #FAFAFA,
        #7A67FF,
        #FAFAFA,
        #7A67FF,
        #FAFAFA,
        #7A67FF
    );
    background-clip: text;
    background-size: 300% 300%;
}

.gradient-text-projects {
  background: linear-gradient(
        to right,
        #52525b,
        #FAFAFA,
        #52525b,
        #FAFAFA,
        #52525b,
        #FAFAFA,
        #52525b
    );
    background-clip: text;
    background-size: 300% 300%;
}

body {
  background-size: cover;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}